#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#insert {
  width: 150%;
  height: 30px;
}

hr{
  width: 100%;
  margin-bottom: 10%;
}

h2{
  width: 140%;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.tasks-container {
  width: 100%;
}


.task {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.delete-button {
  float: right;
  background-color: gray;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.complete-button{
  float: right;
  background-color: grey;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}