@import 'reset.css';

.root-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.app-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-info {
    width: 250px;
    margin: 16px;
    background-color: #005C53;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-info img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.movie-info-content {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.movie-info h4 {
    margin: 0;
}

.movie-info span {
    margin-left: 3px;
}

.now-page{
    margin-left: 64px;
    margin-top: 12px;
    color: white;
    font-size: xx-large;
    font-weight: 600;
}