body {
    background-color: #f9f9f9;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.tasks-container {
    width: 45%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: black;
}

.task {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.delete-button {
    float: right;
    background-color: gray;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.complete-button{
    float: right;
    background-color: grey;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}