body{
  background-color: rgb(3, 49, 90);
 }

.PosterContainer{
  position: relative;
  top: 60px;
  display:grid;
  justify-content:center;
  grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
}


 