body{
    background-color: rgba(88, 125, 101, 0.352);
    text-align: center;
    font-weight:bold;
  }

#todoinput{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    padding-left: 20px;
    background-color: rgb(255, 255, 255, 0.52);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;
    width: 70%;
}

li::marker{
    color: rgb(159, 159, 133);
}

.contentContainer{
    display: flex;
    justify-content: space-between;
    width: auto;
}

button {
    border: 0;
    background-color: rgb(255, 255, 255, 0.52);
    border-radius: 3px;
}

.content {
    width: auto;
    margin-right: 50px;
}